<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://use.typekit.net/fpn0nyq.css" />
    <link rel="stylesheet" href="../css/mic.css" />
    <title>Premium Microphones</title>
  </head>
  <body>
    <div class="mic-grid">
      <div class="nav-wrapper">
        <nav class="generic-nav">
          <h2 class="generic-logo">
            <a href="../index.html">AUDIO</a>
          </h2>
          <div aria-hidden="true"></div>
          <a class="generic-nav-item nav-selected" href="../xml/microphones.xml"
            >MICS</a
          >
          <a class="generic-nav-item" href="../xml/speakers.xml">SPEAKERS</a>
          <a class="generic-nav-item" href="../xml/headphones.xml">HEADGEAR</a>
          <a class="generic-nav-item" href="../xml/records.xml">VINYL</a>
          <a class="generic-nav-item" href="../xml/turntables.xml"
            >TURNTABLES</a
          >
          <a class="generic-nav-item nav-last" href="./xquery.html">XQUERY</a>
        </nav>
      </div>

      <div class="sidebar-left">
        <div class="items"></div>
      </div>

      <div class="sidebar-right">
        <img
          class="primary-image"
          src="../img/mic.png"
          alt="Picture of microphone"
        />
      </div>

      <footer></footer>
    </div>
    <script src="../js/index.js"></script>
  </body>
</html>
